body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0.1)
    ),
    url(./../Img/header/bg_header_2.jpg);
  background-size: cover;
  background-position: center;
}
.header-module {
  position: absolute;
  top: 0;
  display: flex;
  height: 48px;
  width: 100%;
  margin-top: 2%;
  font-size: 18px;
  font-weight: 600;
}
.header-module a:hover {
  color: #ffcc00;
}

.name-logo {
  margin-left: 10%;
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 700;
}

.links-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.links-nav a {
  margin-right: 7%;
  text-decoration: none;
  color: #fdfdfd;
}

.links-nav img {
  max-width: 25px;
  max-height: 25px;
}

.header-title {
  max-width: 600px;
  max-height: 250px;
  margin-left: 10%;
  margin-top: -5%;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: left;
  word-break: break-word;
  color: #fdfdfd;
}

.header-button {
  display: inline-block;
  text-align: center;
  border: 3px solid #ffcc00;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  padding-left: 30px;
  padding-right: 30px;

  margin-left: 10%;

  color: #333333;
  background-color: #ffcc00;

  line-height: 44px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.header-button:hover {
  color: white;
  background-color: #ffcc00;
  border: 3px solid #ffcc00;
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
  justify-content: left;
}

.portfolio-header {
  margin: 0;
  margin-bottom: 70px;
  font-size: 75px;
  line-height: 130%;
  text-align: left;
}

.portfolio-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 15px;
  max-width: 580px;
  box-shadow: 0px 5px 6px rgba(127, 124, 108, 0.35);
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-15px);
}

.card-link {
  display: block;
  padding: 20px;
  color: #333333;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.card-link:hover {
  color: #e48d03;
}

.card:last-child,
.card:nth-child(3) {
  margin-bottom: 0;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.card p {
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}

.footer {
  padding-top: 45px;
  padding-bottom: 50px;
  background: rgb(212, 212, 212);
  color: #333333;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright {
  flex-grow: 1;
  max-width: 250px;
  color: #333333;
  line-height: 1.3;
  font-size: 14px;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-copyright-name p {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
}

.footer-icons p {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer-icons-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.footer-icons-row > * + * {
  margin-left: 30px;
}

.footer-contact {
  flex-grow: 1;
  max-width: 250px;
}
.footer-button {
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 50px;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  color: #333333;

  line-height: 44px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.footer-button:hover {
  background-color: #333333;
  color: #cfcfcf;
}

.footer-contact p {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.3;
  color: #333333;
}

/* Project */
.project {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.project-header {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  color: #333333;
}

.project-img {
  margin-bottom: 70px;
  text-align: center;
}

.project-description {
  max-width: 730px;
  margin-bottom: 60px;
  margin-left: 200px;
  text-align: left;
}

.project-description p {
  font-size: 16px;
  color: #333333;
}

.project-btn-back:hover {
  background-color: #e48d03;
  color: white;
}

.block {
  height: 25%;
  width: 100%;
  background-color: #ffd664;
  padding-bottom: 2%;
}

.head-h2-row {
  padding-top: 7%;
  margin-left: 10%;
  margin-right: 20%;
}

.header-h2 {
  font-size: 64px;
  font-weight: 700;
  color: #333333;
}

.head-h2-description {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-basis: 80%;
  max-width: 95%;
}

.article-1 {
  display: inline;
  left: 0;
}

.artc-menu {
  flex-basis: 25%;
  margin-top: 10%;
}

.menu-body {
  position: sticky;
  top: 0;
}

.menu-pnt {
  background-color: #f2f2f2;
  border-radius: 100px;
  padding: 8px 32px 8px;
  line-height: 20px;
  font-size: 12px;
  margin: 5%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-pnt a {
  text-decoration: none;
  color: #333333;
}

.animation img {
  position: relative;
  left: 20%;
  bottom: 18%;
  max-width: 180%;
  max-height: 180%;
}

.header-button-hbr {
  display: inline-block;
  text-align: center;
  border: 3px solid #ffcc00;
  border-radius: 50px;
  height: 50px;
  width: 150px;

  margin-top: 2%;
  padding-left: 30px;
  padding-right: 30px;

  color: #333333;
  background-color: #ffcc00;

  line-height: 44px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.head-h3-row {
  font-weight: 700;
  font-size: 34px;
  margin-top: 7%;
  margin-left: 10%;
  line-height: 130%;
  color: #333333;
}

.header-h3 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 10%;
}

.row-article-1 {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12%;
}

.row-article-1 img {
  width: 160px;
  height: 114px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
}

.head-article-1 a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
}

.head-article-1 a:hover {
  color: #e48d03;
}

.head-article-1 p {
  font-size: 14px;
  color: #333333;
}

.head-article-1 p.stats {
  font-size: 10px;
}

.head-article-1 p.stats img.stats {
  margin: 0;
  width: 14px;
  height: 8px;
}

.img-article {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  flex: 0 0 25%;
  max-width: 25%;
  margin-left: 5%;
}

/* Обо мне */

.about-main {
  color: #333333;
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 30%;
}

.header-module-pgs {
  position: absolute;
  top: 0;
  display: flex;
  height: 48px;
  width: 100%;
  margin-top: 2%;
  margin-right: 50%;
  margin-bottom: 2%;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 4px dotted #333333;
}

.header-module-pgs a {
  color: #333333;
}
.header-module-pgs a:hover {
  color: #5a5a5a;
}

.text-text {
  max-width: 80%;
  font-size: 15px;
  line-height: 140%;
  padding-right: 13%;
  color: #333333;
}

.text-text h3 {
  margin-top: 7%;
}

.text-text a {
  color: #333333;
  text-decoration: none;
  box-shadow: inset 0 -1px #bf9900;
}

.auf {
  font-size: 18px;
  line-height: 140%;
}

.quote img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 5px solid #ffcc00;
}

.header-h2-abt {
  color: #333333;
  font-size: 55px;
  margin-top: 25px;
}

.btn-port {
  text-decoration: none;
}

.btn-abt {
  padding: 46px 32px 54px;
  border-top: 2px solid #cdcdcd;
  color: #333333;
  justify-content: space-between;
  display: flex;
  font-size: 60px;
  font-weight: 400;
  transition: background 0.3s ease, color 0.3s ease;
}
.btn-text {
  margin-left: 7%;
  margin-right: 7%;
}

.btn-abt:hover {
  background: #ffc017;
  color: #333333;
}

/* Редактура */
.books-sect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 15px;
}

.card-book {
  padding: 15px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 15px;
  border: 0.5px solid rgba(127, 124, 108, 0.35);
  max-width: 180px;
  box-shadow: 0px 5px 6px rgba(127, 124, 108, 0.35);
  transition: transform 0.2s ease-in;
}

.card-book:hover {
  transform: translateY(-15px);
}

.card-book a {
  text-decoration: none;
  color: #333333;
}

.card-book a:hover {
  color: #e48d03;
}

.card-book-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.card-book-img {
  max-height: 200px;
  max-width: 150px;
  border-radius: 10px;
  border: 0.5px solid rgb(151, 151, 151);
}

.end {
  margin-top: 10%;
}
