body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0.1)
    ),
    url(./../Img/header/bg_header_2.jpg);
  background-size: cover;
  background-position: center;
}

.top-nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
  margin-left: 60px;
  justify-content: space-between;
  height: 55px;
}

.top-nav a {
  text-decoration: none;
  color: rgb(210, 210, 210);
  font-weight: bold;
  font-size: 18px;
}

.name {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 60%;
}

.links-nav {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.links-nav a {
  margin-right: 30px;
}

.top-nav a:hover {
  color: black;
}

.header-title {
  max-width: 600px;
  max-height: 250px;
  margin-left: 10%;
  margin-top: -5%;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: left;
  word-break: break-word;
  color: #fdfdfd;
}

.header-button {
  display: inline-block;
  text-align: center;
  border: 3px solid #e48d03;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  padding-left: 30px;
  padding-right: 30px;

  margin-left: 10%;

  color: #333333;
  background-color: #e48d03;

  line-height: 44px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.header-button:hover {
  color: white;
  background-color: #e48d03;
  border: 3px solid #e48d03;
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
  justify-content: left;
}

.portfolio-header {
  margin: 0;
  margin-bottom: 70px;
  font-size: 75px;
  line-height: 130%;
  text-align: left;
}

.portfolio-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 15px;
  max-width: 580px;
  box-shadow: 0px 10px 40px rgba(127, 124, 108, 0.35);
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-15px);
}

.card-link {
  display: block;
  padding: 20px;
  color: #333333;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.card-link:hover {
  color: #e48d03;
}

.card:last-child,
.card:nth-child(3) {
  margin-bottom: 0;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.card p {
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}

.footer {
  padding-top: 45px;
  padding-bottom: 50px;
  background: radial-gradient(at top, #f4d36f, #e48d03);
  color: #333333;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright {
  flex-grow: 1;
  max-width: 250px;
  color: #4f2b01;
  line-height: 1.3;
  font-size: 14px;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-copyright-name p {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
}

.footer-icons p {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer-icons-row {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.footer-icons-row > * + * {
  margin-left: 30px;
}

.footer-contact {
  flex-grow: 1;
  max-width: 250px;
}
.footer-button {
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 50px;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  color: #333333;

  line-height: 44px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.footer-button:hover {
  background-color: #333333;
  color: #e48d03;
}

.footer-contact p {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.3;
  color: #4f2b01;
}

/* Project */
.project {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.project-header {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  color: #333333;
}

.project-img {
  margin-bottom: 70px;
  text-align: center;
}

.project-description {
  max-width: 730px;
  margin-bottom: 60px;
  margin-left: 200px;
  text-align: left;
}

.project-description p {
  font-size: 16px;
  color: #333333;
}

.project-btn-back {
  display: inline-block;
  text-align: center;
  border: 3px solid #e48d03;
  border-radius: 50px;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  color: #e48d03;

  line-height: 44px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.2s ease-in;
}

.project-btn-back:hover {
  background-color: #e48d03;
  color: white;
}
.author {
  font-family: Helvetica Neue;
}

.block {
  height: 25%;
  background-color: #ffc017;
}

.head-h2-row {
  padding-top: 20px;
  padding-bottom: 50px;
}

.header-h2 {
  font-size: 85px;
  margin: 0;
  font-weight: 700;
  margin-left: 5%;
  color: #333333;
}

.pict-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-h2-description {
  font-size: 16px;
  color: #333333;
  margin-left: 5%;
  margin-right: 35%;
  padding-left: 100px;
}
.head-h2-description a {
  text-decoration: none;
  background-color: #535353;
  color: #ffffff;
}

.btn-hbr {
  display: inline-block;
  text-align: center;
  border: 3px solid #333333;
  background-color: #333333;
  border-radius: 50px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;

  color: white;

  line-height: 44px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;

  transition: all 0.2s ease-in;
}
.head-h3-row {
  font-weight: 700;
  font-size: 20px;
  margin-left: 5%;
  line-height: 130%;
  color: #333333;
}

.row-article-1 {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20%;
}

.row-article-1 img {
  width: 200px;
  aspect-ratio: auto 180 / 134;
  height: 134px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
}

.head-article-1 a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #333333;
}

.head-article-1 a:hover {
  color: #e48d03;
}

.head-article-1 p {
  font-size: 14px;
  color: #333333;
}

.head-article-1 p.stats {
  font-size: 10px;
}

.head-article-1 p.stats img.stats {
  margin: 0;
  width: 14px;
  height: 8px;
}

.img-article {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  flex: 0 0 25%;
  max-width: 25%;
  margin-left: 5%;
}

/* Обо мне */

.top-nav-about {
  background: radial-gradient(at top, #333333, #3d3d3d);
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}

.top-nav-about ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-nav-about ul li {
  display: inline;
  margin-right: 20px; /* Отступ между пунктами меню */
}

.top-nav-about ul li:last-child {
  margin-right: 0;
}

.top-nav-about a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1 6px;
}
.top-nav-about a:hover {
  color: #e48d03;
}
.about-main {
  background: #333333;
  color: #ffffff;
  padding: 70px 32px 90px;
}
.foto-me {
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  justify-content: space-between;
}

.foto-me img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #e48d03;
}

.text-abt {
  width: 680px;
  display: block;
}

.text-abt a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  text-decoration: none;
}

.header-h2-abt {
  font-size: 85px;
  letter-spacing: -0.065em;
  margin-top: 25px;
  text-decoration: none;
}

.about-main p {
  letter-spacing: -0.008em;
  font-size: 18px;
}

.imptnt {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  letter-spacing: -0.009em;
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
}
.btn-port {
  text-decoration: none;
}

.btn-abt {
  padding: 46px 32px 54px;
  border-top: 1px solid #f2f2f2;
  color: #ffffff;
  background: #333333;
  justify-content: space-between;
  display: flex;
  font-size: 60px;
  font-weight: 400;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-abt:hover {
  background: #ffc017;
  color: #333333;
}

/* Редактура */
.books-sect {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin-right: auto;
  padding-right: 15px;
  margin-bottom: 25px;
}

.book {
  width: 15%;
  padding-left: 2.5em;
  padding-bottom: 1.5em;
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 100%;
  width: 20%;
}

.book-auth {
  font-family: Helvetica Neue;
  margin-top: 3px;
  font-size: 14px;
  line-height: 130%;
  margin: 0;
}

.book-title {
  font-family: Helvetica Neue;
  margin-top: 3px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}
.book-title:hover {
  color: #e48d03;
}
