@media (max-width: 1140px) {
  .card {
    width: calc(50% - 15px);
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 999px) {
  .burger-nav {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: 0;

    z-index: 1;
  }

  .header-module a:hover {
    color: #333333;
  }

  .links-nav {
    display: none;
  }

  .burger-nav {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: 0;

    z-index: 1;
  }

  .container-web-projects {
    display: flex;
    flex-wrap: wrap;
  }

  .site-card-item {
    display: flex;
    flex-direction: column;
  }

  .site-card-item-image {
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  .header-title {
    font-size: 32px;
  }

  .intro {
    margin-bottom: 35%;
  }

  .header-subtitle {
    font-size: 12px;
  }
  .portfolio {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .portfolio-header {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .card {
    max-width: 530px;
    width: 100%;
  }

  .portfolio-card-wrapper {
    justify-content: center;
  }

  .card-link {
    padding: 15px;
  }

  .card:nth-child(3) {
    margin-bottom: 30px;
  }

  .card-img {
    margin-bottom: 10px;
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 14px;
  }

  .site-card-item-description p {
    font-size: 1.3em;
  }

  .footer-row {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer-button {
    margin-bottom: 5%;
  }
  .footer-copyright-name {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media (max-width: 280px) {
  .footer-button {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .row-article-1 {
    max-width: 100%;
  }

  .header-h2-abt {
    font-size: 28px;
    padding-top: 20px;
  }

  .header-h2-abt {
    margin-top: 50px;
  }

  .text-text {
    font-size: 15px;
    padding-right: 0;
  }

  .head-h3-row {
    font-size: 24px;
  }

  .btn-abt {
    padding: 36px 22px 44px;
  }

  .btn-text {
    font-size: 35px;
  }

  .head-h2-description {
    display: flex;
    flex-direction: column-reverse;
  }

  .quote {
    display: flex;
    flex-direction: row;
  }

  .quote img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 35px;
    margin-left: 7%;
  }

  .quote q {
    display: none;
  }

  .header-h3 {
    font-size: 24px;
  }

  .head-article-1 p {
    font-size: 12px;
  }

  .header-button-hbr {
    font-weight: 700;
    font-size: 16px;

    height: 40px;
    width: 140px;

    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 900px) {
  .animation {
    display: none;
  }

  .artc-menu {
    display: none;
  }

  .img-article {
    max-width: 200px;
    max-height: 100px;
  }

  .quote img {
    max-width: 170px;
    max-height: 170px;
  }
}

@media (max-width: 620px) {
  .text-text {
    max-width: 85%;
  }

  .head-article-1 {
    font-weight: 500;
    font-size: 12px;
  }

  .head-article-1 p {
    font-size: 10px;
  }

  .row-article-1 img {
    width: 120px;
    aspect-ratio: auto 120 / 60;
    height: 60px;
    border-radius: 8px;
  }

  .content {
    margin-right: 0;
  }

  .btn-text {
    margin-left: 0;
    margin-right: 10%;
  }

  .web-project-button {
    padding: 8px 20px;
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .name-logo {
    display: none;
  }

  .name-mobile {
    position: relative;
    display: block;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: var(--left-margin);
    top: -5em;
  }

  .card-book-img {
    max-height: 170px;
    max-width: 120px;
  }

  .text-text {
    max-width: 100%;
    padding-right: 1em;
  }

  .text-text h3 {
    margin-top: 12%;
  }

  .btn-abt {
    padding: 26px 20px 30px;
  }

  .btn-text {
    font-size: 25px;
  }

  .head-h2-row {
    padding-top: 2%;
    margin-right: 0;
  }

  .row-article-1 {
    margin-right: 2%;
    padding-right: 5px;
  }

  .head-article-1 {
    font-weight: 500;
    font-size: 8px;
  }
  .head-article-1 p.stats {
    display: block;
    font-size: 8px;
  }
  .head-article-1 p {
    display: none;
  }

  .btn-text-code {
    font-size: 0.8em;
  }

  .header-button-hbr {
    font-weight: 600;
    font-size: 12px;

    height: 40px;
    width: 120px;

    padding-left: 15px;
    padding-right: 15px;
  }

  .about-h3 {
    padding-top: 10px;
  }

  .web-project-button {
    padding: 8px 14px;
    font-size: 8px;
  }
}
