body {
  font-family: Arial, sans-serif;
  background: black;
  margin: 0;
  padding: 0;
}

.game {
  max-width: 400px;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to top, #ff8000, #f7be5b, #7b5900, #000000);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.game__main {
  display: flex;
  flex-direction: column;
}
.game__header {
  display: flex;
  gap: 0.8em;
  margin: 0.7em 0;

  justify-items: center;
  justify-content: space-around;
}

.game__header a {
  text-decoration: none;
}

.game__card {
  padding: 0.6em 1.5em;
  width: auto;
  height: 20px;
  background-color: #1f1f1f;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.game__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.game__icon {
  width: 65px;
  height: 65px;
  transform: translateX(0.1em);
}

.game__score {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.7em;
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.game__score-count {
  font-weight: bold;
}

.game__progress-bar {
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.game__progress-bar div {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #ff9e0b, #fef7de, #fecf80);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game__hamster-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.game__hamster-img {
  width: 250px;
  cursor: pointer;
  margin-bottom: 5em;
  transition: transform 0.2s;
}

.game__hamster-img--tilt-left {
  transform: rotateY(-35deg);
}

.game__hamster-img--tilt-right {
  transform: rotateY(25deg);
}

.game__hamster-img--tilt-up {
  transform: rotateX(-38deg);
}

.game__hamster-img--tilt-down {
  transform: rotateX(35deg);
}

.game__counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  transform: translateY(-2em);
}

.game__counter {
  font-size: 16px;
}

.game__counter--reverse,
.game__counter--boost {
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.game__withdraw-button {
  padding: 10px 20px;
  background: linear-gradient(to right, #ffea62, #ffe603, #fffb0b);
  color: rgb(92, 42, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 16px;
  transform: translateY(-35px) translateX(35%);
  margin-bottom: 1em;
  border: none;
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
  visibility: hidden;
}

.game__withdraw-button--visible {
  visibility: visible;
}

.game__footer {
  margin-top: 20px;
}

.game__message {
  font-size: 14px;
}

.game__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.game__popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 23, 1, 0.8);
  z-index: -1;
}

.game__popup-content {
  background: rgb(0, 0, 0);
  width: 300px;
  min-height: 500px;
  color: white;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.game__popup-content button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2em;
  border-radius: 20px;
}

.game__donate-button {
  background: linear-gradient(to left, #feb856, #ff8f17);
}

.game__donate-button a {
  color: white;
  text-decoration: none;
}

.game__restart-button {
  background: linear-gradient(to left, #0ac700, #016d05);
}

.game__click-score {
  position: absolute;
  font-size: 40px;
  color: #310303;
  font-weight: 900;
  animation: game__fadeUp 0.9s forwards;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@keyframes game__fadeUp {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -120px);
  }
}

.game__copyright {
  font-size: 12px;
  color: #fef7de;
  margin-top: 10px;
  text-align: left;
}

.game__copyright a {
  text-decoration: none;
  color: #fef7de;
}

.game__intro-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(255, 255, 255, 0.1)
    ),
    url(./img/back.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.game__intro-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  color: white;
  width: 85%;
  margin-bottom: 1.5em;
}

h2 {
  color: #ff8f17;
  font-size: 28px;
}

.game__intro-loader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.game__intro-loader p {
  font-size: 18px;
  font-weight: 400;
}

.game__intro-text p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; /* get rid of bad outlines */
  background: conic-gradient(#0000, var(--c)) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */ repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
      #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - var(--b)),
      #000 calc(100% - var(--b))
    );

  mask: var(--_m);
  mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

#boostButton {
  color: #ffffff;
  background: none;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #cdcdcd;
  z-index: 1000;
  animation: slideUp 0.3s ease-out;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(33, 33, 33, 1);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  height: 80vh;
  max-width: 400px;
}

.modal-content button {
  padding: 0.5em 1em;
  background: linear-gradient(to right, #ffea62, #ffe603, #fffb0b);
  color: rgb(92, 42, 0);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1.8em;
  border: none;
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
}

.current-score {
  color: rgb(198, 198, 198);
  font-size: 28px;
  font-weight: 600;
}

.close-button {
  margin-left: auto;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
