$icon-color: #ff3e79;
$icon-hover: #ff1058;
$focus-outline: #b8ffec;
$main-background: #f8f8f8;
$card-background: #ffffff;
$card-border: #eaeaea;
$pagination-bullet: #b5b6bc;
$regular-text: #1b1c21;
$light-text: #7e7e82;
$light-text-hover: #000000;
$modal-overlay: rgba(255, 255, 255, 0.9);
$modal-shadow: rgba(0, 0, 0, 0.59);
$card-shadow-hover: 0 2px 10px rgba(63, 63, 63, 0.15);
