@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes';
  background-color: $main-background;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'TT Lakes';
  color: $regular-text;
}

a:focus {
  outline: 2px solid $focus-outline;
}

.header {
  background-color: $card-background;
  border-bottom: 1px solid $focus-outline;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  padding: 1em;
}

.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-btn:focus .logo:focus {
  outline: 2px solid $focus-outline;
}

.logo {
  position: relative;
}

.logo:focus {
  outline: 2px solid $focus-outline;
}

.logo::after {
  content: url('../Img/icons/divider.svg');
  position: absolute;
  margin-left: 1em;
  top: 20%;
}

.logo--mobile {
  margin-left: 1em;
}

.header__actions {
  display: flex;
  gap: 0.8em;
  padding: 1em;
}

.btn-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $regular-text;
  position: relative;
  transform: all 0.3s;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $icon-color;

  transition: background-color 0.3s ease;
}

.btn-icon img {
  width: 20px;
  height: 20px;
}

.header__text {
  display: none;
  font-size: 16px;
  font-weight: 400;
  color: $regular-text;
  padding-right: 0.5em;
  line-height: 24px;
  letter-spacing: -0.24px;

  transition: color 0.3s ease;
}

.btn-icon:hover,
.burger-btn:hover {
  background-color: $icon-hover;
}

.btn-link:hover .header__text {
  color: $light-text-hover;
}

.header__text:hover {
  color: $light-text-hover;
}

.header__text:hover + .btn-icon {
  background-color: $icon-hover;
}

.btn-link:focus {
  outline: 2px solid $focus-outline;
}

.btn-link--hidden {
  display: none;
}

.header__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: $light-text;
  color: $card-background;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -110%;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-link:hover .header__tooltip {
  visibility: visible;
  opacity: 1;
}

.main {
  overflow: hidden;
}

.main__h1 {
  color: $regular-text;
  font-size: 28px;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}

.main__h1::before {
  content: url('../Img/icons/highlight.svg');
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10%);
  z-index: 1;
}

.slide-items {
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  position: relative;
  padding: 10px 20px;

  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slide-items::-webkit-scrollbar {
  display: none;
}

.slide__item,
.slide__link {
  color: inherit;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
}

.slide__link:focus,
.slide__link:focus-visible,
.slide__link:active,
.slide__link:hover {
  background-color: $card-background;
  outline: 2px solid $focus-outline;
  border-radius: 6px;
  outline-offset: 2px;
}

.slide__link {
  text-decoration: none;
  color: $light-text;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 10px 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__text {
  display: flex;
  flex-direction: column;
  padding: 0 1.2em 0.8em;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.content__paragraph--2 {
  display: none;
}

.shw-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: 'TT Lakes';
  transition: transform 0.3s;
}

.shw-more img {
  margin-right: 1em;
  vertical-align: middle;
  transition: transform 0.3s;
}

.shw-more.shown img {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.shw-more--visible-text {
  display: inline-block;
  text-align: justify;
  padding-left: 1em;
}

.content__text.content__text--show-more .content__paragraph--2 {
  display: block;
}

.content p:first-child {
  margin-top: 0;
}

.content__image img {
  display: block;
  width: 100vw;
  height: auto;
}

.section-title {
  background: linear-gradient(
    90deg,
    $main-background 1.39%,
    $card-background 100%
  );
  padding: 1em;
  margin-top: 2em;
}

.section-title h2 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-align: left;
  font-weight: 400;
  color: $light-text;
  text-transform: uppercase;
  margin: 0;
}

.common-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid $icon-color;
  border-radius: 50%;
  position: relative;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.common-arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid $icon-color;
  border-bottom: 2px solid $icon-color;
  border-radius: 1px;
  transform: rotate(-45deg);
  transition: 0.2s all ease-in;
}

.common-arrow--white {
  width: 7px;
  height: 7px;
  border-right: 2px solid $card-background;
  border-bottom: 2px solid $card-background;
}

.common-arrow--small {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 0.2em;
}

.common-circle:hover {
  border: 2px solid $icon-hover;
}

.common-circle:hover .common-arrow {
  border-color: $icon-hover;
}

.common-circle:focus {
  outline: 2px solid $focus-outline;
}

.swiper-wrapper {
  gap: 1em;
}

.swiper-pagination-bullets {
  position: relative;
  bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1em;
  color: $light-text;
  font-size: 14px;
}

.footer p {
  margin: 0;
  text-align: center;
}

.footer__copyright,
.footer__privacy-policy,
.footer__disclaimer {
  flex: 1;
  text-align: center;
}

.footer__copyright {
  text-align: left;
}

.footer__disclaimer {
  text-align: right;
}

.action-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: $icon-color;
  color: $card-background;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1548px;
  width: 110px;
  height: 32px;
  border-radius: 16px;
  transform: all 0.3s;
}

.action-button:hover {
  background: $icon-hover;
}

.action-button:focus {
  outline: 2px solid $focus-outline;
}

.action-button--right {
  margin-left: auto;
}
