.header__menu {
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: 320px;
  left: -320px;
  height: auto;
  padding: 1em;

  overflow-y: auto;

  z-index: 1000;
}

.header__menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: 320px;
  width: calc(100vw - 320px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 500;
  display: none;
}

.header__menu.open::before {
  display: block;
}

.header__menu.open {
  left: 0;
  box-shadow: 10px 0px 52px 0px #0e185033;
}

.header__menu-header,
.header__menu-footer {
  display: flex;
  align-items: center;
}

.header__menu-header {
  margin-bottom: 2.5em;
}

.burger-btn-close {
  margin-right: 1em;
}

.header__logo--mobile::after {
  display: none;
}

.header__icon--burger-search {
  margin-left: auto;
}

.header__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.header__menu-item {
  margin-bottom: 2em;
}

.header__menu-link {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #1b1c21;
  transition: color 0.3s ease;
}

.header__menu-link:hover {
  color: #7e7e82;
}

.header__menu-link:focus {
  outline: 2px solid #b8ffec;
}

.header__menu-link:hover::after {
  content: url("../Img/icons/highlight.svg");
  position: absolute;
  top: -0.5em;
  left: -1em;
  z-index: 2;
}

.header__menu-footer {
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.header__menu-phone,
.header__menu-email,
.header__menu-language {
  color: #1b1c21;
  transition: color 0.3s ease;
}

.header__menu-phone:hover,
.header__menu-email:hover,
.header__menu-language:hover {
  color: #7e7e82;
}

.header__menu-phone:focus,
.header__menu-email:focus,
.header__menu-language:focus {
  outline: 2px solid #b8ffec;
}

.header__menu-phone {
  display: block;
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.6px;

  margin-bottom: 1em;
}

.header__menu-email {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-decoration: none;
  margin-bottom: 1em;
}

.header__menu-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.header__menu-languages {
  display: flex;
  gap: 1em;
}

.header__menu-language {
  text-decoration: none;
  font-size: 14px;
}
