@media (min-width: 768px) {
  .header__logo::after {
    display: none;
  }

  .header__burger {
    position: relative;
    margin-right: 2em;
  }

  .header__burger::after {
    content: url("../Img/icons/divider.svg");
    position: absolute;
    margin-left: 6em;
  }

  .header__link--profile,
  .header__link--call,
  .header__link--chat {
    display: flex;
  }

  .header__link--profile::after {
    content: url("../Img/icons/divider.svg");
    position: absolute;
    margin-left: 4em;
    top: 4%;
  }

  .header__link--profile {
    margin-right: 2em;
  }

  .header__menu-item:last-child {
    margin-bottom: 10em;
  }

  .content {
    flex-direction: row;
  }

  .content__text,
  .content__image {
    flex: 1 1 50%;
    box-sizing: border-box;
  }

  .content__image img {
    display: block;
    width: 100%;
    height: auto;
  }

  .content__paragraph--2 {
    display: block;
    max-height: 20%;
    overflow: hidden;
  }

  .content__text.content__text--show-more .content__paragraph--2 {
    max-height: none;
    overflow: visible;
  }
}

@media (min-width: 1120px) {
  .header {
    background-color: transparent;
    border-bottom: none;
    justify-content: flex-end;
  }

  .header__mobile {
    display: none;
  }

  .header__actions {
    margin-top: 1.2em;
    gap: 1.2em;
  }

  .header__link--profile,
  .header__link--call,
  .header__link--chat {
    display: none;
  }

  .header__link--repair {
    margin-right: 1em;
  }

  .header__text {
    display: inline;
  }

  .slide-items {
    display: flex;
    flex-wrap: wrap;
  }

  .main__h1 {
    position: absolute;
    transform: translate(1px, -84px);
    z-index: 99;
  }

  .content__text {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .content__paragraph--1,
  .content__paragraph--2 {
    display: block;
    max-height: none;
    overflow: visible;
  }
}
